@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import "~bootstrap/scss/bootstrap";

@import "https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600|Maven+Pro";

@media (min-width: 1400px) {
    .container, .container-xxl {
        max-width: 1330px;
    }
}

body {
    font-family: 'Maven Pro', serif;
}


/**********************/
/*     Navigation     */
/**********************/
.navbar {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0.875rem;
}

.navbar .navbar-brand {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.navbar .logo-image img {
    width: 140px;
    height: 50px;
}

.navbar .logo-text {
    color: #000000;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: .9rem;
    text-decoration: none;
    font-family: sans-serif;
}

.menu-content {
    color: #000000;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: sans-serif;

}


/* -------------- Navigation End --------------- */


/* -------------- Footer Start --------------- */
.link-text ul li a {
    font-size: 15px;
    text-decoration: none;
    color: white;
}


.vid {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.vid iframe,
.vid object,
.vid embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.profile {
    aspect-ratio: auto 540 / 540;
    max-width: 100%;
    border-radius: 63% 37% 50% 50%/70% 68% 32% 30%;


}

.profile-bg {
    aspect-ratio: auto 540 / 540;
    width: 96%;
    z-index: -1;
    top: 20px;
    left: 20%;
    border-radius: 63% 37% 50% 50%/70% 68% 32% 30%;
    background-color: #f2f3f3;
}

//
//@include media-breakpoint-up(sm) {
//    .profile {
//        height: 18rem;
//    }
//}
//
//@include media-breakpoint-up(md) {
//    .profile {
//        height: 22rem;
//    }
//}
//
//@include media-breakpoint-up(lg) {
//    .profile {
//        height: 30rem;
//    }
//}
//
//@include media-breakpoint-up(xl) {
//    .profile {
//        height: 35rem;
//    }
//}
//
//@include media-breakpoint-up(xxl) {
//
//    .profile {
//        height: 40rem;
//    }
//}


/*******************************/
/******* About CSS ********/
/*******************************/
.experience {
    position: relative;
    padding: 45px 0 15px 0;
}

.experience .timeline {
    position: relative;
    width: 100%;
}

.experience .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #000000;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

.experience .timeline .timeline-item {
    position: relative;
    background: inherit;
    width: 50%;
    margin-bottom: 30px;
}

.experience .timeline .timeline-item.left {
    left: 0;
    padding-right: 30px;
}

.experience .timeline .timeline-item.right {
    left: 50%;
    padding-left: 30px;
}

.experience .timeline .timeline-item::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 52px;
    right: -5px;
    background: #000000;
    /* border: 2px solid #000000; */
    /* border-radius: 16px; */
    z-index: 1;
}

.experience .timeline .timeline-item.right::after {
    left: -5px;
}

.experience .timeline .timeline-item::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 46px;
    right: 10px;
    z-index: 1;
    border: 10px solid;
    border-color: transparent transparent transparent #000000;
}

.experience .timeline .timeline-item.right::before {
    left: 10px;
    border-color: transparent #000000 transparent transparent;
}

.experience .timeline .timeline-date {
    position: absolute;
    width: 100%;
    top: 44px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
}

.experience .timeline .timeline-item.left .timeline-date {
    text-align: left;
    left: calc(100% + 55px);
}

.experience .timeline .timeline-item.right .timeline-date {
    text-align: right;
    right: calc(100% + 55px);
}

.experience .timeline .timeline-text {
    padding: 40px 20px 0 20px;
    /* background: #ffffff; */
    position: relative;
    /* border-right: 5px solid #ffffff; */
    /* box-shadow: 0 0 60px rgba(0, 0, 0, .08); */
}

.experience .timeline .timeline-item.right .timeline-text {
    border-right: none;
    /* border-left: 5px solid #ffffff; */
}

.experience .timeline .timeline-item.left .timeline-text {
    border-right: none;
    /* border-left: 5px solid #ffffff; */
    text-align: end;
}

.experience .timeline .timeline-text h2 {
    margin: 0 0 5px 0;
    font-size: 22px;
    font-weight: 600;
}

.experience .timeline .timeline-text h4 {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

.experience .timeline .timeline-text p {
    margin: 0;
    font-size: 16px;
}

@media (max-width: 767.98px) {
    .experience .timeline::after {
        left: 8px;
    }

    .experience .timeline .timeline-item {
        width: 100%;
        padding-left: 38px;
    }

    .experience .timeline .timeline-item.left {
        padding-right: 0;
    }

    .experience .timeline .timeline-item.right {
        left: 0%;
        padding-left: 38px;
    }


    .experience .timeline .timeline-item.left::after,
    .experience .timeline .timeline-item.right::after {
        left: 0;
    }

    .experience .timeline .timeline-item.left::before,
    .experience .timeline .timeline-item.right::before {
        left: 18px;
        border-color: transparent #000 transparent transparent;
    }

    .experience .timeline .timeline-item.left .timeline-date,
    .experience .timeline .timeline-item.right .timeline-date {
        position: relative;
        top: 0;
        right: auto;
        left: 0;
        text-align: left;
        margin-bottom: 10px;
    }

}


/******* Drawer Section ********/

.drawer {
    display: none;

    &.is-active {
        display: block;
    }

    &.is-visible {
        .drawer__overlay {
            opacity: 0.5;
        }

        .drawer__wrapper {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }


    .drawer__overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1200;
        opacity: 0;

        transition: opacity 0.3s;
        will-change: opacity;
        background-color: #000;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }


    .drawer__wrapper {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        max-width: 420px;
        z-index: 9999;
        overflow: auto;

        transition: transform 0.3s;
        will-change: transform;
        background-color: #fff;

        display: flex;
        flex-direction: column;

        -webkit-transform: translate3d(103%, 0, 0);
        transform: translate3d(103%, 0, 0); /* extra 3% because of box-shadow */

        -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */

        /* Optional */
        box-shadow: 0 2px 6px #777;


        .drawer__content {
            position: relative;
            overflow-x: hidden;
            overflow-y: auto;
            height: 100%;
            flex-grow: 1;
            padding: 1.5rem;
        }

        .drawer__header {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ddd;
            background: #343a40;
            padding: 1rem 1.5rem;
            justify-content: space-between;

            drawer__title {

            }

            .drawer__close {
                border: none;
                background-color: transparent;
                cursor: pointer;
                background-image: url("data:image/svg+xml,%0A%3Csvg width='15px' height='16px' viewBox='0 0 15 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='2.-Menu' transform='translate(-15.000000, -13.000000)' stroke='%23FFFFFF'%3E%3Cg id='Group' transform='translate(15.000000, 13.521000)'%3E%3Cpath d='M0,0.479000129 L15,14.2971819' id='Path-3'%3E%3C/path%3E%3Cpath d='M0,14.7761821 L15,-1.24344979e-14' id='Path-3'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                width: 15px;
                height: 15px;
                flex-shrink: 0;
            }
        }

    }
}

